h1 {
    color: #E1E506;
}
.header {
    display: flex;
    justify-content: flex-end; /* Alinea a la derecha */
    padding: 1rem; /* Espaciado alrededor */
}

.cerrar-sesion {
    color: #E1E506;
    padding-right: 40px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.image-container {
    width: 100%; /* Cambiado a 100% para un mejor ajuste */
    height: auto; /* Cambiado a auto para mantener proporciones */
    padding-top: 2rem;
    margin: 0 auto; /* Centrar la imagen */
}

.login-container {
    display: flex;
    justify-content: center; /* Centra el contenido */
    flex-wrap: wrap; /* Permite que los elementos se muevan en líneas */
    gap: 20px; /* Espacio entre opciones */
    padding: 2rem;
}

.login-info-container {
    /* Fondo para las opciones */
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    flex: 1 1 200px; /* Tamaño base de 200px, crece y se encoge */
    min-width: 200px; /* Ancho mínimo para las opciones */
}

.tittle {
    padding-left: 10%; /* Cambiado a porcentaje para mejor responsividad */
    padding-top: 100px;
    font-size: 2.5rem;
    font-weight: 600;
    color: #E1E506;
}

.inputs-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input, .btnn {
    width: 90%; /* Mantener ancho relativo */
    height: 3.125rem;
    font-size: 1em;
}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #31312e;
    color: white;
    box-sizing: border-box;
    border: 2px solid white;
}

.input:hover {
    border: 2px solid black;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.btnn {
    width: 50%; /* Mantener ancho relativo */
    letter-spacing: 1px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #e1e506a2;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 0;
}

.image-left {
    width: 100%; /* Cambiado a 100% para que se ajuste a su contenedor */
    height: auto; /* Cambiado a auto para mantener proporciones */
    max-width: 200px; /* Añadir un max-width para pantallas grandes */
}

.inputs-container > p {
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
    font-style: italic;
    text-align: center;
}

.image-container {
    margin-top: -35px; /* Puede ajustarse según necesidad */
    width: 100%; /* Cambiado a 100% para mejor ajuste */
    height: auto;
    max-width: 200px; /* Cambiado a auto para mantener proporciones */
}

.span {
    color: #5a42d1;
    font-weight: 600;
    cursor: pointer;
}

/* Media Queries para Responsividad */
@media (min-width: 768px) {
    .login-container {
        flex-direction: row; /* Cambiar a fila en pantallas más grandes */
    }

    .login-info-container {
        width: 50%; /* Retornar a 50% en pantallas más grandes */
    }

    .tittle {
        padding-left: 10%; /* Mantener el padding proporcional */
    }

    .image-left {
        margin-right: 2rem; /* Añadir margen derecho en pantallas grandes */
    }
}

@media (max-width: 600px) {
    .tittle {
        font-size: 1.8rem; /* Ajustar tamaño de fuente en pantallas pequeñas */
    }

    .btnn {
        width: 90%; /* Aumentar ancho del botón para pantallas pequeñas */
    }

    .inputs-container > p {
        font-size: 18px; /* Reducir tamaño de fuente para pantallas pequeñas */
    }
}

@media (max-width: 600px) {
    .cerrar-sesion {
        font-size: 0.9rem; /* Ajustar el tamaño en pantallas pequeñas */
    }

    .tittle {
        font-size: 1.5rem; /* Ajustar el tamaño en pantallas pequeñas */
    }

    .btnn {
        width: 90%; /* Botón más ancho en pantallas pequeñas */
    }
}




.prestamo-cuadro {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    width: calc(100% - 0px); /* Ajusta el ancho para que tenga un margen */
    max-width: 900px; /* Mantiene un ancho máximo */
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total */
  }
  
.prestamos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .prestamo-cuadro h4 {
    margin-bottom: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }
  
  .deuda {
    color: red;
    font-weight: bold;
  }
  
  .pagado {
    background-color: green;
    color: black;
  }
  
  .pendiente {
    background-color: orange;
    color: black;
  }
  
 
  
  .dni {
    padding-bottom: 100px;
    width: 100%; /* Hace que el input ocupe el 100% */
    max-width: 300px; /* Limita el ancho máximo */
    height: 3.125rem;
    font-size: 1em;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #31312e;
    color: white;
    box-sizing: border-box;
    border: 2px solid white;
  }
  
 
  


  
  .input, .btn {
    width: 100%; /* Hace que los botones y los inputs ocupen el 100% */
    max-width: 300px; /* Limita el ancho máximo */
    height: 3.125rem;
    font-size: 1em;
  }
  
  .input {
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #31312e;
    color: white;
    box-sizing: border-box;
    border: 2px solid white;
  }
  
  .input:hover {
    border: 2px solid black;
  }
  
  .btn {
    width: 100%; /* Hace que el botón ocupe el 100% */
    letter-spacing: 1px;
    color: #fff;
    border-radius: 10px;
    border: none;
    background-color: red;
    font-size: 1.2rem;
    font-weight: 100;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #b8b6b6;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 15px;
    color: #333;
  }
  
  .client-info, .loan-details {
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 5px;
  }
  
  strong {
    color: #333;
  }
  
  .schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .schedule-table th, .schedule-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .schedule-table th {
    background-color: #f4f4f4;
    color: #333;
  }
  
  .schedule-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .schedule-table .paid {
    color: green;
    font-weight: bold;
  }
  
  /* Media Queries para pantallas más pequeñas */
  @media (max-width: 768px) {
    .login-container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }
  
    .dni, .input, .btn {
        width: 90%; /* Ajusta el ancho a 90% */
        max-width: none; /* Remueve el ancho máximo */
    }
  
    .prestamo-cuadro {
        width: 90%; /* Ajusta el ancho de los cuadros de préstamo */
    }
  }