

<div class="login-container">
    
<div class="login-info-container">
<h1 class="title">Generar Prestamo</h1>
<a routerLink="/dashboard">
  <img class="image-left" src="https://cdn-icons-png.flaticon.com/512/6475/6475938.png" alt="login">
</a>
<div class="selector">
  <label for="tipoDocumento">Selecciona Tipo de Documento:</label>
  <select [(ngModel)]="tipoDocumento" (change)="cambiarTipoDocumento(tipoDocumento)" class="input">
    <option value="dni">DNI</option>
    <option value="ruc">RUC</option>
  </select>
</div>

<!-- Formulario para DNI -->
<form *ngIf="tipoDocumento === 'dni'" [formGroup]="dniForm" (ngSubmit)="crearPrestamoDni()" class="inputs-container">
  
  <input formControlName="dni" class="input" placeholder="DNI" />
  <input formControlName="nombre" class="input" placeholder="Nombre" [readonly]="tipoDocumento === 'dni'"/>
  <input formControlName="apellidoPaterno" class="input" placeholder="Apellido Paterno" [readonly]="tipoDocumento === 'dni'"/>
  <input formControlName="apellidoMaterno" class="input" placeholder="Apellido Materno" [readonly]="tipoDocumento === 'dni'"/>
  <input formControlName="monto" type="number" class="input" placeholder="Monto" />
  <select formControlName="plazo" class="input">
    <option *ngFor="let plazo of plazos" [value]="plazo">{{ plazo }} meses</option>
  </select>
  <button class="btn" type="submit" [disabled]="dniForm.invalid">Crear Préstamo</button>
</form>

<!-- Formulario para RUC -->
<form *ngIf="tipoDocumento === 'ruc'" [formGroup]="rucForm" (ngSubmit)="crearPrestamoRuc()" class="inputs-container">
 
  <input formControlName="ruc" class="input" placeholder="RUC" />
  <input formControlName="razonSocial" class="input" placeholder="Razón Social" [readonly]="tipoDocumento === 'ruc'"/>
  <input formControlName="direccion" class="input" placeholder="Dirección" [readonly]="tipoDocumento === 'ruc'"/>
  <input formControlName="distrito" class="input" placeholder="Distrito" [readonly]="tipoDocumento === 'ruc'"/>
  <input formControlName="provincia" class="input" placeholder="Provincia" [readonly]="tipoDocumento === 'ruc'"/>
  <input formControlName="departamento" class="input" placeholder="Departamento" [readonly]="tipoDocumento === 'ruc'"/>
  <input formControlName="monto" type="number" class="input" placeholder="Monto" />
  <select formControlName="plazo" class="input">
    <option *ngFor="let plazo of plazos" [value]="plazo">{{ plazo }} meses</option>
  </select>
  <button class="btn" type="submit" [disabled]="rucForm.invalid">Crear Préstamo</button>
</form>

</div>

</div>