
<div *ngIf="user">
    <h1 class="tittle">Bienvenido, <b>{{user.nombre}}</b></h1>
    
</div>
<div class="header">
    <a routerLink="/register-worker" class="cerrar-sesion">
        <h3>Registrar Trabajador</h3>
    </a>
    <a (click)="logout()" class="cerrar-sesion">
        <h3>Cerrar Sesion</h3>
    </a>

</div>

<div class="login-container">
    <div class="login-info-container">
        <form class="inputs-container">
            <h1>Generar Préstamo</h1>
            <img class="image-left" src="generar.png" alt="login">  
            <p>Accede a la pestaña para generar un préstamo!</p>
            <button class="btnn"><a routerLink="/generate-loan">Click aquí</a></button>
        </form>
        
    </div>
    <div class="login-info-container">
        <form class="inputs-container">
            <h1>Historial de Préstamos</h1>
            <img class="image-container" src="historial.webp" alt="login">
            <p>Accede a tu historial de préstamos realizados</p>
            <button class="btnn"><a style="text-decoration: none;"  routerLink="/loan-history">Click aquí</a></button>
        </form>
    </div> 
</div>



<!-- Itera sobre los préstamos y muestra sus detalles -->
<div *ngIf="prestamos.length > 0" class="prestamos-container">
    <h3>Préstamos Encontrados</h3>
    <div *ngFor="let prestamo of prestamos" class="prestamo-cuadro">

      <div *ngIf="prestamo.cliente.nroDocumento.length === 8">
        <h4>Detalles del Préstamo</h4>
        <h3>Datos del Cliente</h3>
        <p><strong>Nombres:</strong> {{ prestamo.cliente.nombre }}</p>
        <p><strong>Apellido Paterno:</strong> {{ prestamo.cliente.apellidoPaterno }}</p>
        <p><strong>Apellido Materno:</strong> {{ prestamo.cliente.apellidoMaterno }}</p>
        <p><strong>DNI:</strong> {{ prestamo.cliente.nroDocumento }}</p>
        <p><strong>Fecha Creacion:</strong> {{ prestamo.fechaCreacion}}</p>
        <p><strong>Monto:</strong> {{ prestamo.monto | currency:'PEN':'symbol':'1.2-2' }}</p>
        <p><strong>Interés:</strong> {{ prestamo.interes }}%</p>
        <p><strong>Plazo:</strong> {{ prestamo.plazo }} meses</p>
        
      </div>

      <div *ngIf="prestamo.cliente.nroDocumento.length === 11">
        <h3>Datos del Cliente</h3>
      <p><strong>Nombres:</strong> {{ prestamo.cliente.nombre }}</p>
      <p><strong>DNI:</strong> {{ prestamo.cliente.nroDocumento }}</p>
      <p><strong>Departamento:</strong> {{ prestamo.cliente.departamento }}</p>
      <p><strong>Distrito:</strong> {{ prestamo.cliente.distrito }}</p>
      <p><strong>Provincia:</strong> {{ prestamo.cliente.provincia }}</p>
      <p><strong>Direccion:</strong> {{ prestamo.cliente.direccion }}</p>
      <p><strong>Monto:</strong> {{ prestamo.monto | currency:'PEN':'symbol':'1.2-2' }}</p>
        <p><strong>Interés:</strong> {{ prestamo.interes }}%</p>
        <p><strong>Plazo:</strong> {{ prestamo.plazo }} meses</p>
        
      </div>
      
      <button (click)="imprimirPrestamo(prestamo.id)" title="Generar PDF">
        <img
          src="printer.png"
          alt="Imprimir"
          style="width: 24px; height: 24px; cursor: pointer;"
        />
      </button>
      
        <button 
            *ngIf="todosPagosPendientes(prestamo)" 
            (click)="cancelarPrestamo(prestamo.id)" 
            class="btn btn-danger">
            Cancelar Préstamo
        </button>
      <h4>Cronograma de Pagos</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Fecha de Pago</th>
            <th>Monto de la Cuota</th>
            <th>Pago Intereses</th>
            <th>Amortización</th>
            <th>Saldo Restante</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pago of prestamo.cronogramaPagos; let i = index">
            <td>{{ pago.fechaPago | date:'dd/MM/yyyy' }}</td>
            <td>{{ pago.montoCuota | currency:'PEN':'symbol':'1.2-2' }}</td>
            <td>{{ pago.pagoIntereses | currency:'PEN':'symbol':'1.2-2'}}</td>
            <td>{{ pago.amortizacion | currency:'PEN':'symbol':'1.2-2'}}</td>
            <td>{{ pago.saldoRestante | currency:'PEN':'symbol':'1.2-2'}}</td>
            <td [ngClass]="{'deuda': pago.estado === 'Deuda', 'pagado': pago.estado === 'Pagado', 'pendiente': pago.estado === 'Pendiente'}">
              {{ pago.estado }}
            </td>
            <td>
              <!-- Mostrar el botón solo para la primera cuota pendiente -->
              <button (click)="marcarComoPagado(pago.id)" 
                      *ngIf="pago.estado === 'Pendiente' && esPrimerPagoPendiente(prestamo.cronogramaPagos, i)">
                Marcar como Pagado
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="prestamos.length === 0 && dni">
    <p>No se encontraron préstamos para este DNI.</p>
  </div>
