
<a routerLink="/dashboard" class="return"> <img src="left.svg" alt="" width="20px" height="10px"> Regresar</a>
<div class="login-container">
    
    <div class="login-info-container">
    <h1 class="tittle">Registra a un trabajador</h1>
    <form class="inputs-container" (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" autocomplete="off">
            <div class="form-group">
              <input 
              class="input" 
              type="text"
              id="nombre"
              name="nombre"
              ngModel
              required
              #nombre="ngModel"
              [ngClass]="{ 'is-invalid': nombre.invalid && nombre.touched }"
              placeholder="Nombre">
              <div *ngIf="nombre.invalid && nombre.touched" class="invalid-feedback">
                El nombre es requerido.
              </div>
            </div>
            
    
            <div class="form-group">
              <input 
              class="input" 
              type="text"
              id="apellido"
              name="apellido"
              ngModel
              required
              #apellido="ngModel"
              [ngClass]="{ 'is-invalid': apellido.invalid && apellido.touched }"
              placeholder="Apellido">
              <div *ngIf="apellido.invalid && apellido.touched" class="invalid-feedback">
                El apellido es requerido.
              </div>
            </div>
            
            <div class="form-group">
              <input 
              class="input" 
              type="email"
              id="email"
              name="email"
              ngModel
              required
              email
              #email="ngModel"
              [ngClass]="{ 'is-invalid': email.invalid && email.touched }"
              placeholder="Correo electronico">
              <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
                Email es requerido y debe ser válido.
              </div>
    
            </div>


            <div class="form-group">
                <input
                  class="input"
                  type="text"
                  id="username"
                  name="username"
                  ngModel
                  required
                  #username="ngModel"
                  [ngClass]="{ 'is-invalid': username.invalid && username.touched }"
                  placeholder="Username"
                >
                <div>
                  <div *ngIf="username.errors?.['required'] && username.touched" class="error-message">
                    El username es obligatorio.
                  </div>
                </div>
            </div>
            <div class="form-group">
              <input
                class="input"
                type="password"
                id="password"
                name="password"
                ngModel
                required
                minlength="6"
                #password="ngModel"
                [ngClass]="{ 'is-invalid': password.invalid && password.touched }"
                placeholder="Contraseña"
              >
              <div>
                <div *ngIf="password.errors?.['required'] && password.touched" class="error-message">
                  La contraseña es obligatoria.
                </div>
                <div *ngIf="password.errors?.['minlength'] && password.touched" class="error-message">
                  La contraseña debe tener al menos 6 caracteres.
                </div>
              </div>
            </div>


            
         
             
      <button class="btn" type="submit" [disabled]="registerForm.invalid">Registrar Trabajador</button>
      <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
      </div>
    </form>
    </div>
    </div>
    
    